Repository SolombrinoIsmail/car-rental-management-system: changes, and which Codecov flags are due for each by the changed paths.
All: web, mobile, packages

feat(SOL-52): Complete CI/CD & DevSecOps Pipeline Implementation
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/preview.yml
  .github/workflows/security.yml
  .lighthouserc.json
Due: none

fix(SOL-52): Fix CI/CD pipeline issues
  .github/secrets-setup.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/preview.yml
  .github/workflows/security.yml
Due: none

feat(SOL-52): CI/CD & DevSecOps pipeline
  .github/secrets-setup.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/preview.yml
  .github/workflows/security.yml
  .lighthouserc.json
Due: none

chore(ci): harden workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  .github/workflows/security.yml
  .github/workflows/sonarcloud.yml
Due: none

chore(ci): harden workflows (pin actions, least-privilege, Vercel token env, preview concurrency)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  .github/workflows/security.yml
  .github/workflows/sonarcloud.yml
Due: none

feat(epic-01): implement Story 1 - Customer Management Foundation
  apps/web/src/app/api/customers/[id]/documents/route.ts
  apps/web/src/app/api/customers/[id]/flags/route.ts
  apps/web/src/app/api/customers/[id]/rentals/route.ts
  apps/web/src/app/api/customers/[id]/route.ts
  apps/web/src/app/api/customers/route.ts
Due: web

feat(Epic 1): complete customer management foundation
  packages/database/prisma/schema.prisma
Due: packages

Path conditions:
  web: any of: apps/web/src, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.ts, **/*.config.js, **/migrations/**, **/seed/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/.next/**, **/build/**, **/coverage/**
  mobile: any of: apps/mobile/src, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.ts, **/*.config.js, **/migrations/**, **/seed/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/.next/**, **/build/**, **/coverage/**
  packages: any of: packages/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.ts, **/*.config.js, **/migrations/**, **/seed/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/.next/**, **/build/**, **/coverage/**
